<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <span class="me-1">I am:</span>
    <label class="from-check-label mx-2">
      <input
        type="radio"
        class="form-check-input"
        value="female"
        formControlName="gender"
      />
      female
    </label>
    <label class="from-check-label mx-2">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />
      male
    </label>
    <label class="from-check-label mx-2">
      <input
        type="radio"
        class="form-check-input"
        value="other"
        formControlName="gender"
      />
      other
    </label>
  </div>
  <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Known as'"
  ></app-text-input>
  <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of birth'"
    [maxDate]="maxDate"
  ></app-date-picker>
  <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [type]="'password'"
    [label]="'Password'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [type]="'password'"
    [label]="'Confirm password'"
  ></app-text-input>

  @if(validationErrors) {
  <div class="alert alert-danger text-start text-break">
    <ul>
      @for (error of validationErrors; track $index) {
      <li>{{ error }}</li>
      }
    </ul>
  </div>
  }

  <div class="d-flex justify-content-center gap-3 text-center">
    <button
      [disabled]="!registerForm.valid"
      class="btn btn-success"
      type="submit"
    >
      Register
    </button>
    <button class="btn btn-secondary" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
